doctype html
html
	include ./head.pug
	body
		.header
			ul
				li Smart Bin
				li 
					a(href='http://wics.cs.pdx.edu') wics.cs.pdx.edu
				
		.main
			.graph
				canvas(id='trash-analytics')
			.main-content
				h3 Trash Facts ! 
				ol(class='trash-facts')
					li More Than 100 Tons of Waste for Every American: The average American throws away more than 7 pounds of garbage a day. That's 102 tons in a lifetime, more than any other populations on Earth.
					li Bottled Water Is the "Grandfather of Wasteful Industries." Edward Humes, author of the book "Garbology: Our Dirty Love Affair with Trash," counts bottled water among the most wasteful of industries. In the US, Americans toss 60 million water bottles daily, which is nearly 700 each minute.
					li Food Waste Is a Problem Too: Americans throw away 28 billion pounds of food a year, which is about 25 percent of the US food supply.
					li Disposables Are a Drain: Ten percent of the world's oil supply is used to make and ship disposable plastics – items like plastic utensils, plates, and cups that are used just one time and thrown away.
					li Trash Is Expensive: Most communities spend more to deal with trash than they spend for schoolbooks, fire protection, libraries, and parks.
					li Carpet Waste Alone Is Astounding: Americans throw away 5.7 million tons of carpet every year.
					li Paper Waste Is a Shame: Americans waste 4.5 million tons of office paper a year. Ask yourself… do I really need to print that?
					li Opting Out of Junk Mail Makes a Difference: According to Humes, the energy used to create and distribute junk mail in the US for one day could heat 250,000 homes. You can opt-out of junk mail by going to CatalogChoice.org.
					li Too Many Toys: Only 4 percent of the world's children live in the US, but Americans buy (and throw away) 40 percent of the world's toys. Buy less toys, opt for second-hand versions, and pass down the toys you do purchase to others.
					li Plastic Bags: On average, Americans use 500 plastic bags per capita each year. Such bags make up the second most common type of garbage found on beaches. Stash reusable shopping bags in your purse or car so you're not tempted by plastic or paper.
		.footer
			ul
				li team name
				li member 1
				li member 2
				li member 3
				li member 4
				li member 4

	script(type="text/javascript" src="js/trash-line.js")
