* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  /*letter-spacing: .10em;*/
  list-style: none;

  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 800px;
  margin: auto;
}

body {
  background-color: hsl(84, 76%, 76%);
}

.header, .main, .graph, .main-content, .footer {
  border: 1px solid red;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;

  background-color: #9ee066;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.graph {
  display: flex;
  height: 400px;
  width: 100%;

  background-color: #f0ede7;
}

.main-content {
  display: flex;
  height: ;
  width: 100%;

  background-color: #f0ede7
}

.trash-facts {
  counter-reset: trash-facts;
}
li::before {
  content: counter(trash-facts);
  counter-increment: trash-facts;
}

.footer {
  display: flex;
  height: 50px;
  width: 100%;

  background-color: #9ee066;
}
